<!--<div id="search-component">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" autocomplete="off" #searchBox id="search-box" (keyup)="search(searchBox.value)"
    />
    <div *ngFor="let item of items | async" (click)="gotoDetail(item)" class="search-result">
      {{item.title}}
    </div>
    <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
  </form>
</div>-->
<div id="wrap">
  <form class="form-inline" action="" autocomplete="off">
    <input class="form-control" #searchBox id="search" name="search" type="text" placeholder="Search..." (keyup)="search(searchBox.value)"
    />
    <input id="search_submit" value="Rechercher" type="submit">
    <div *ngFor="let item of items | async" (click)="gotoDetail(item)" class="search-result">
      {{item.title}}
    </div>
  </form>
</div>
