<div class="container-fruid">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a routerLink="dashboard" class="navbar-brand">NextVoyager</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['movies']" routerLinkActive="active">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['games']" routerLinkActive="active">Games</a>
            </li>
          </ul>
          <item-search></item-search>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Sign up</a>
            <a class="nav-item nav-link" href="#">Log in</a>
          </div>
        </div>
    </div>
  </nav>

  <div class="container">
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
